DB_URL=jdbc:mysql://localhost:3307/svea_bilar
DB_USERNAME=svea_bilar_app
DB_PASSWORD=svea_bilar_password

MAIL_HOST=smtp.simply.com
MAIL_PORT=587
MAIL_USERNAME=info@sveabilarochdäck.se
MAIL_PASSWORD=your-production-smtp-password

JWT_SECRET=4e7638792f423f4428472b4b6250655368566d597133743677397a2443264629
JWT_EXPIRATION=86400000
